<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body class="background-image">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="p-3">
                    <button class="btn btn-dark rounded-pill buttonLogin" (click)="loginEmploye()">Login en tant qu'employé</button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="p-3">
                    <button class="btn btn-dark rounded-pill buttonLogin" (click)="loginRh()">Login en tant que RH</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- Le contenu de votre page ira ici -->


    </div>
</body>

</html>