<!-- liste-demission.component.html -->
<app-navbar></app-navbar>
<div class="card">
<div class="card-body">
    <div class="chart-area">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">date conge</th>
                        <th scope="col">heure</th>
                            <th scope="col"> description</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                   <ng-container *ngFor="let demission of demissions">
        <tr>
   
      <th scope="row">{{ demission }}</th>
      <td>{{ demission}} </td>
        <td>{{ demission }}</td>
      <td>{{ demission }}</td>
      <td>
     <!-- <button (click)="validerConge(conge.id)">Valider</button>-->
    </td>
    <td>

     <!-- <button (click)="onRejectLeaveRequest(conge.id)">Rejeter</button>-->
    </td>
   </tr>
</ng-container>
                </tbody>
                      </table>
        </div>
    </div>
</div>
</div>
