<app-navbar></app-navbar>
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
  <form [formGroup]="formModifier">
    <div class="form-group">
      <label for="exampleFormControlInput1">nom</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="nom"
        formControlName="nom"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">prenom</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="prenom"
        formControlName="prenom"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">poste</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="poste"
        formControlName="poste"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">adresse</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="adresse"
        formControlName="adresse"   
      />
    </div>
  </form>
  <button (click)="update()">change</button>
  <button (click)="delete()">delete</button>
</main>
