<app-navbar-emp></app-navbar-emp>
<!--appel de la navBar-->
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
  <div class="row justify-content-center">
    <!--pour enregistrer les heures de départ et arrivés-->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card-body">
        <!-- div de la ligne des contenaires des enregistrements les heures-->
        <div class="row no-gutters align-items-center">
          <div class="col mr-2" style="text-align: center">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              Le nombre total des heures supplémentaires.
            </div>

      
            <div class="h5 mb-0 font-weight-bold text-gray-800">
                    {{sumhe}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="table-responsive">
      <div class="table-wrapper">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>
          
              </th>
              <th>jour</th>
              <th>heureArriv</th>
              <th>heureDep</th>
              <th>heureSup</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cal of employe.calendrier">
              <td>
             
         
              </td>
              <td>{{ cal.jour | date }}</td>
              <td>{{ cal.heureArriv | date : "shortTime" }}</td>
              <td>{{ cal.heureDep | date : "shortTime" }}</td>
              <td>{{ cal.heureSup }}</td>
             
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <!-- Edit Modal HTML -->
  <div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h4 class="modal-title">Add Employee</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              &times;
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" required />
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" required />
            </div>
            <div class="form-group">
              <label>Address</label>
              <textarea class="form-control" required></textarea>
            </div>
            <div class="form-group">
              <label>Phone</label>
              <input type="text" class="form-control" required />
            </div>
          </div>
          <div class="modal-footer">
            <input
              type="button"
              class="btn btn-default"
              data-dismiss="modal"
              value="Cancel"
            />
            <input type="submit" class="btn btn-success" value="Add" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Edit Modal HTML -->
  <div id="editEmployeeModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h4 class="modal-title">Edit Employee</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              &times;
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" required />
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" required />
            </div>
            <div class="form-group">
              <label>Address</label>
              <textarea class="form-control" required></textarea>
            </div>
            <div class="form-group">
              <label>Phone</label>
              <input type="text" class="form-control" required />
            </div>
          </div>
          <div class="modal-footer">
            <input
              type="button"
              class="btn btn-default"
              data-dismiss="modal"
              value="Cancel"
            />
            <input type="submit" class="btn btn-info" value="Save" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Delete Modal HTML -->
  <div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h4 class="modal-title">Delete Employee</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              &times;
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete these Records?</p>
            <p class="text-warning">
              <small>This action cannot be undone.</small>
            </p>
          </div>
          <div class="modal-footer">
            <input
              type="button"
              class="btn btn-default"
              data-dismiss="modal"
              value="Cancel"
            />
            <input type="submit" class="btn btn-danger" value="Delete" />
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
